<section class="panel home" data-section-name="home">
    <div class="inner">
        <div style="text-align:left;">
            <h2><font color='#72441E'>@狗猫熊的博客</font></h2>
            <a href="/blog/my_blog.htm"><img class='cal-img' src='home/img/cal/cal01.png'/></a>
        </div>
    </div>
    <div id="jando">
        <div class="jando_container">
            <div id="jando_sprite" class="jando_container"></div>
        </div>
    </div>
</section>
<section class="panel news" data-section-name="news">
    <div class="inner">
        <h2>@狗猫熊的实验室</h2>
        <pre>
        	建设中……
        </pre>
    </div>
</section>
