<section class="panel home" data-section-name="home">
    <div class="inner">
        <header>
            <h1>狗猫熊</h1>
			<br />
        </header>
    </div>
	<div style='position:absolute;bottom:50;line-height:0;'>
		<img src='home/images/bg_01.png' />
		<img src='home/images/bg_02.png' />
		<img src='home/images/bg_03.png' />
		<img src='home/images/bg_04.png' />
		<p class="tagline">成长中……</p>
	</div>

</section>
<section class="panel news" data-section-name="news">
    <div class="inner">
        <h2>狗猫熊狗猫熊</h2>
		<pre>
			从前有一只狗猫熊
		</pre>
	</div>
</section>
