<div class="am-g am-g-fixed blog-g-fixed">
    <div class="am-u-md-9">
        <form method="post">
            <input type="hidden" name="action" value="BlogAction"/>
            <p>
                <input type="text" name="subject" class="am-form-field am-radius" placeholder="这里写标题"/>
            </p>
            <div class="am-form-group">
                <textarea name="content" style="width:100%;height:350px;"></textarea>
            </div>
            <input type="hidden" name="event_submit_do_new_blog" value="event_submit_do_new_blog"/>
            <button type="submit" class="am-btn am-btn-primary">发表这篇博文</button>
        </form>
    </div>
    $control.setTemplate("blog:rightSide.vm")
</div>