<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我们结婚啦!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimum-scale=1">

    <!-- INCLUDE BOOTSTRAP CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- INCLUDE AUTHOR CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- INCLUDE FLEXSLIDER CSS -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <!-- INCLUDE animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- MEGAFOLIO PRO GALLERY CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="megafolio/css/settings.css" media="screen" />

    <!-- THE FANYCYBOX CSS -->
    <link rel="stylesheet" href="megafolio/fancybox/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />

    <!-- INCLUDE GOOGLE FONTS -->
    <link href='css/font.css?family=Droid+Sans:400,700|Cinzel:400,700|Great+Vibes' rel='stylesheet' type='text/css'>        

    <!-- INCLUDE MODERNIZR -->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body class="index">
    <div class="bghide">&nbsp;</div>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- =========================================================================================================
    ==============================================================================================================
                                                The Header Area With The Menu
    ==============================================================================================================
    ============================================================================================================== -->  

    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="names"><B> Xiaohui &#38; Zhicheng</B></div><!-- /.names -->
            </div>
            <nav class="navbar-collapse collapse">

                <!-- THE WEDDING DATE -->
                 <a class="navbar-brand"> 13th,June,2015</a>

                 <!-- THE RIGHT SIDE MENU -->
                <ul class="nav navbar-nav right-nav">
                    <li><a href="#thetop">Home</a></li>
                    <li><a href="#ourstory">Our Story</a></li>
                    <li><a href="#guestbook">Guest Book</a></li>
                </ul><!-- /.navbar-nav -->

            </nav><!--/.navbar-collapse -->

        </div><!-- /.container-->
    </header>


    <!-- =========================================================================================================
    ==============================================================================================================
                                                    The Slider Area
    ==============================================================================================================
    ============================================================================================================== -->


    <div class="jumbotron" id="thetop">

        <section class="slider">
            
            <div class="flexslider" id="slider1">

                <!-- THE ACTUAL PHOTO SLIDES -->
                <ul class="slides">
                    <li><img src="img/slider/photo1.jpg" alt="photo 1" /></li>
                    <li><img src="img/slider/photo2.jpg" alt="photo 2" /></li>
                    <li><img src="img/slider/photo3.jpg" alt="photo 3" /></li>
                    <li><img src="img/slider/photo4.jpg" alt="photo 3" /></li>
                </ul><!-- /.slides -->

            </div><!-- /.flexslider -->

            <!-- THE NAMES OF THE BRIDE AND GROOM -->
            <div class="names hide">
                <div class="container">
                    Xiaohui <span><i>&#38;</i></span> Zhicheng
                </div><!-- /.container -->
            </div><!-- /.names -->

        </section><!-- /.slider-->

    </div><!-- /.jumbotron -->

    
    <!-- =========================================================================================================
    ==============================================================================================================
                                        The First Area Under The Slider
    ==============================================================================================================
    ============================================================================================================== -->


    <section id="home">
    	<input type="hidden" id="ourstoryphoto" />
        <div class="container">
            
            <div class="row">

                <!-- SMALL INTRODUCTORY TEXT -->
                <div class="col-md-12">
                    <p><font color="#ED3738" style="font-family: KaiTi;font-size: 30px;">徐志成 & 郑晓慧<br /><br />我们结婚啦！</font></p>
                </div><!-- /.col-md-12-->

				<img src="img/heart.png" style="width:80%;"/>
            </div><!-- /.col-md-12-->
          
        </div> <!-- /container --> 
    </section><!-- /# home -->

     <!-- =========================================================================================================
    ==============================================================================================================
                                            "WEDDING LOCATION" section
    ==============================================================================================================
    ============================================================================================================== -->

    <section id="weddinglocation">

        <!-- "THE WEDDING LOCATION" HEADER -->
        <div id="weddinglocationphoto" class="parallax-hook parallax-weddinglocation parallax-background">
            
            <div class="section-overlay">
                <div class="container">
                    <div class="row">
                        <header class="col-md-6 col-md-offset-3 hide">
                            Wedding Location
                            <span>Where's the party?</span>
                        </header>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-overlay -->
            
        </div><!-- /#weddinglocationphoto -->

        <!-- "THE WEDDING LOCATION" ACTUAL CONTENT -->
        <div class="container location fakeheight">
            <div class="row hide">
                <div class="col-md-6">

                    <!-- INTERMEDIARY TITLE -->
                    <h3 class="sectionmaintitle">婚礼地点</h3>
                    
                    <!-- ADDRESS AND CEREMONY TIME -->
                    <ul class="locationdetails">
                        <li>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <div class="alignleft">
                                <h5>麒麟阁酒店二楼</h5>
                                <p>五三大道延伸段1号</p>
                            </div>
                            <span class="glyphicon glyphicon-time"></span>
                            <div class="alignleft">
                                <h5>2015年6月13日</h5>
                                <p>18:18</p>
                            </div>
                        </li>
                    </ul><!-- /.locationdetails -->
                </div><!-- /.col-md-6-->


                <!-- THE MAP -->
                <div class="col-md-6">
                    </div><!-- /.col-md-6-->
            </div><!-- /.row -->
        </div><!-- /.container -->

    </section><!-- weddinglocation -->
    
     
     <!-- =========================================================================================================
    ==============================================================================================================
                                            "GUEST BOOK" section
    ==============================================================================================================
    ============================================================================================================== -->
    <section id="guestbook">

        <!-- "REGISTRY" SECTON TITLE -->
        <div id="registryphoto" class="parallax-hook parallax-registry parallax-background">
            <div class="section-overlay">
                <div class="container">
                    <div class="row">
                        <header class="col-md-6 col-md-offset-3 hide">
                            Guest Book
                            <span>Some Lovely People Had This To Say</span>
                        </header>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-overlay -->
            
        </div><!-- /#registryphoto -->

        <!-- "GUEST BOOK" ACTUAL CONTENT -->
        <div class="container">
            <div class="border">
                <div class="row">
                    #foreach($do in $dos)
                    <!-- "GUEST BOOK" COMMENT -->
                    <div class="col-md-4" style="height:150px;">
                        <div>
                            <p>$do.content</p>
                            <p>by:$do.name,  $format.format($do.gmtCreate)</p>
                        </div>
                    </div><!-- /.col-md-4 -->
					#end

                </div><!-- /.row -->
            </div><!-- /.border -->

            <!-- SIGN OUR GUESTBOOK SECTION -->
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-left">在这里写下你的祝福吧!</h3>
                    <p>Leave us a thought, a good wish or a congratulation and you’ll make us so happy. After the wedding we will organize all the good wishes into an album for everyone to read and enjoy!</p>
                </div>
                <div class="col-md-6">

                    <!-- "GUEST BOOK" FORM -->
                    <form method="post" id="signguestbook">
                   		<input type="hidden" name="action" value="DongbaoAction"/>
                   		<input type="hidden" name="event_submit_do_add_new" value="event_submit_do_add_new"/>
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Name..." id="guest-name" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea id="guest-message" name="content" placeholder="Leave your message here..." rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" id="send_guestbook" value="Send Message">
                        </div>
                    </form><!-- /.signguestbook-->
                </div><!-- /.col-md-6-->
            </div><!-- /.row-->
                        
        </div><!-- /.container -->

    </section><!-- guestbook -->

    <footer>
        <div class="container">
            <p>2015年6月13日,18:18,麒麟阁酒店二楼</p>
        </div>
    </footer>
   

    <!-- INCLUDE jQUERY -->
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

    <!-- DETECT the device type (mobile/desktop) -->
    <script type="text/javascript" src="js/vendor/device.min.js"></script>

    <!-- INCLUDE jQuery waypoints plugin -->
    <script src="js/vendor/waypoints.min.js"></script>

    <!-- INCLUDE flexslider SCRIPT -->
    <script defer src="js/vendor/jquery.flexslider.js"></script>

    <!-- Optional FlexSlider Additions -->
    <script src="js/vendor/jquery.easing.js"></script>
    <script src="js/vendor/jquery.mousewheel.js"></script>

    <!-- INCLUDE bootstrap SCRIPT -->
    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- INCLUDE bootstrap dropdown-on-hover plugin -->
    <script src="js/vendor/bootstrap-hover-dropdown.min.js"></script>

    <!-- INCLUDE parallax plugin -->
    <script src="js/vendor/jquery.parallax.min.js"></script>

    <!-- MEGAFOLIO PRO GALLERY JS FILES -->
    <script type="text/javascript" src="megafolio/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="megafolio/js/jquery.themepunch.megafoliopro.js"></script>

    <!-- FANCYBOX JS FILES -->
    <script type="text/javascript" src="megafolio/fancybox/jquery.fancybox.pack.js?v=2.1.3"></script>
    <!-- Optionally add helpers - button, thumbnail and/or media ONLY FOR ADVANCED USAGE-->
    <script type="text/javascript" src="megafolio/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
    
    <!-- INCLUDE other plugins and scripts AUTHOR MADE -->
    <script src="js/vendor/jquery.queryloader2.js"></script>

    <!-- INCLUDE other plugins and scripts AUTHOR MADE -->
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    </body>
</html>